* {
    margin: 0;
    padding: 0;
}

.main {
    height: 40vh;
    background-color: aqua;
    display: flex;
    margin: 60px auto;
    justify-content: space-around;
}

.collage {
    height: 30vh;
    background-color: antiquewhite;
    margin: 2%;
}
.student {
    height: 30vh;
    background-color: aquamarine;
    margin: 2%;
}

.companies {
    height: 30vh;
    background-color: beige;
    margin: 2%;
}
nav{
    background: black;
    overflow: hidden;
}
nav>a{
    text-decoration: none;
    color: white;
    padding: 20px;
    text-align: center;
    float: left;
}
.flex{
    border:2px solid black;
    align-items: center;
    display: flex;
    flex: 0.8;
    justify-content: space-evenly;
}
nav>a:hover{
    color: tomato;
}

.navbar{
    border:2px solid black;
    display: flex;
    
}

.heading{
    flex:0.2;
    text-align: center;

}